.row-dragging {
    background-color: #fafafa;
    border: 1px solid red;
}

.row-dragging td {
    padding: 16px;
    visibility: hidden;
  }
  
  .row-dragging .drag-visible {
    visibility: visible;
  }
  