.form-content {
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
}
.tag-text {
    width: 78px;
    margin-right: 8px;
    vertical-align: top;
    border: 1px solid #cfcfcf;
    padding: 4px;
}

